@(products: List[ShoppingCart], walmartCategories: List[Category], amazonCategories: List[Category], user: Customer)

@main(walmartCategories, amazonCategories, user) {

<header>
    <hgroup>
        <h1>Cart</h1>
        <h2>@user.name (@user.email)</h2>
    </hgroup>
</header>

<article  class="cart">
    @products.map { cart =>
    <div class="folder" data-folder-id="@cart.product.name">
        <ul class="list">

            @views.html.products.product(cart.product)

        </ul>
    </div>
    }
</article>

}