logs
project/project
project/target
target/native_libraries
target/resolution-cache
target/scala-2.11
target/streams
target/web/less
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
