@(user: Customer)(body: Html)

<html>
<head>
    <title>Banana Now</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/dropmenu.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/search.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/card.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dropdown.js")"></script>

    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Banana</span>Now</a>

            <dl id="user">

                @if(user != null){
                    <dt>@user.name <span>(@user.email)</span></dt>
                    <dd>
                        <a href="@routes.Application.logout()">Logout</a>
                    </dd>
                }
                @if(user == null){
                    <dd>
                        <a href="@routes.Application.login()">Login</a>
                    </dd>
                }
                <dd>
                    <a href="@routes.Cart.index()">Cart</a>
                </dd>
                <dd>
                    <a href="@routes.User.settings(user.id)">Account Settings</a>
                </dd>
            </dl>

            <section class="webdesigntuts-workshop">
				@helper.form(routes.Application.search) {
					<input type="search" name="search" placeholder="Search...">
					<select name="section" id="section">
  						<option value="all">Entire Site</option>
					</select>
					<button>Search</button>
				}
			</section>


        </header>

        <nav>
            <ul class="user-nav">
                <li>
                    <a href="@routes.User.info(user.id)">Personal Info</a>
                </li>
                <li>
                    <a href="@routes.User.creditCards(user.id)">Credit Cards</a>
                </li>
                <li>
                    <a href="@routes.User.orders(user.id)">Open Orders</a>
                </li>
                <li>
                    <a href="@routes.User.transactions(user.id)">Order History</a>
                </li>
            </ul>
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>