@(form: Form[User.Signup])

<html>
    <head>
        <title>Banana Now</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/card.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Banana</span>Now</a>
        </header>

        @helper.form(routes.User.doSignup) {
            <h1>Sign up</h1>

            <p><input type="text" name="name" placeholder="Name"> </p>
            <p><input type="email" name="email" placeholder="Email" value="@form("email").value"></p>
            <p><input type="password" name="password" placeholder="Password"></p>
            <p><input type="text" name="address1" placeholder="Address Line 1"></p>
            <p><input type="text" name="address2" placeholder="Address Line 2"></p>
            <p><input type="text" name="city" placeholder="City"></p>
            <p><input type="text" name="state" placeholder="State" pattern="\w\w"></p>
            <p><input type="text" name="zipcode" placeholder="Zipcode" pattern="\d{5}"></p>
			<div class="card-wrapper">
				<p><input placeholder="Credit Card Number" type="text" name="cc-number" pattern="\d{16}"></p>
				<p><input placeholder="Full Name" type="text" name="cc-name"></p>
				<p><input placeholder="MM/YY" type="text" name="cc-expiration" pattern="\d\d\/\d\d"></p>
                <p><input placeholder="ZIPCODE ON CARD" type="text" name="cc-zip" pattern="\d{5}"></p>
                <p><input placeholder="CVC" type="text" name="cc-cvc" pattern="\d{3}"></p>
			</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/card.js")"></script>
        <script>
            $('form').card({
    // a selector or jQuery object for the container
    // where you want the card to appear
    container: '.card-wrapper', // *required*
    numberInput: 'input[name="cc-number"]', 
    expiryInput: 'input[name="cc-expiry"]', 
    cvcInput: 'input[name="cc-cvc"]', // 
    nameInput: 'input[name="cc-name"]', 

    width: 300, // optional — default 350px
    formatting: true, // optional - default true

    // Strings for translation - optional
    messages: {
        validDate: 'valid\ndate', // optional - default 'valid\nthru'
        monthYear: 'mm/yyyy', // optional - default 'month/year'
    },

    // Default values for rendered fields - options
    values: {
        ccNumber: '•••• •••• •••• ••••',
        ccName: 'Full Name',
        expiration: '••/••',
        cvc: '•••'
    },

    debug: false // if true, will log helpful messages for setting up Card
});
        </script>

            <p><button type="submit">Register</button></p>

            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }

            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
		}

    </body>
</html>