@(products: List[Product], walmartCategories: List[Category], amazonCategories: List[Category], user: Customer, category: String, subcategory: String)

@main(walmartCategories, amazonCategories, user) {

<header>
    <hgroup>
        <h1>Dashboard</h1>
        <h2>@category-->@subcategory</h2>
    </hgroup>
</header>

<article  class="tasks">
    @products.map { product =>
    <div class="folder" data-folder-id="@product.name">
        <ul class="list">

            @views.html.products.product(product)

        </ul>
    </div>
    }
</article>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {

    var decodedsubcat = $('<div/>').html('@subcategory').text();
    decodedsubcat = $('<div/>').html(decodedsubcat).text()
    
    var decodedcat = $('<div/>').html('@category').text();
    decodedcat = $('<div/>').html(decodedcat).text()

	$("#search_select option").eq(0).before($('<option>', {
	    value: decodedsubcat,
	    text: decodedsubcat
	}));
	$("#search_select option").eq(1).before($('<option>', {
	    value: decodedcat,
	    text: decodedcat
	}));
	$("#search_select").val(decodedsubcat).trigger('change');
});

</script>
}