@(product: Product)

<li data-task-id="@product.id">
    <img src="@product.imageUrl" alt="No Image Available">

    <h2>@product.name</h2>

    <!-- Price Display -->
    @if(product.price != 0.0){
        <span class="product-price">@product.price</span>
        <form name="ajaxform" id="ajaxform" action="@routes.Item.addToCart()" method="POST">
            <input type="text" name="id" value="@product.id" hidden="true"/>
            <input type="text" name="qty" value ="1" /> <br/>
            <input type="submit" name="submit" value="Add To Cart"/>
        </form>

    }
    @if(product.price == 0.0){
        <span class="available-in-store">Only Available in Store</span>
    }
</li>