@(product: Product)

<li data-task-id="@product.id">
    <img src="@product.imageUrl" alt="No Image Available">

    <h2>@product.name</h2>

    <!-- Price Display -->
    @if(product.price != 0.0){
        <span class="product-price">@product.price</span>
        <p>
            <form id="addToCart">
                <input hidden="true" id="prodcutId" type="text" value="@product.id"/>
                Qty: <input id="qty" type="text" id="cart" value="1"/>
                <input id="addSubmit" type="submit" value="Add To Cart"/>
            </form>
        </p>
    }
    @if(product.price == 0.0){
        <span class="available-in-store">Only Available in Store</span>
    }
</li>