@(product: Product)

<li data-task-id="@product.id">
    <img src="@product.imageUrl" alt="No Image Available">

    <h4>@product.name</h4>

    <!-- Price Display -->
    @if(product.price != 0.0){
    <span class="product-price">@product.price</span>
    }
    @if(product.price == 0.0){
    <span class="available-in-store">Only Available in Store</span>
    }

    <script>
    $(document).ready(function() {
        $("button").click(function(){
            $.ajax({
                type: "POST",
                url: "http://localhost:9000/item/addToCart"
                dataType: "json",
                data: '{"id":"@product.id", "quantity":"$('.qty').value"}',
                success: function(data){
                    alert("Added to Cart!");
                },
                error: function(data){
                    alert("error");
                }

            });
        });
    });
    </script>

    <p>
        Qty: <input class="qty" type="text" id="cart" value="1">
    </p>
    <button>Add to Cart</button>
</li>