@(products: List[Product], walmartCategories: List[Category], amazonCategories: List[Category], user: Customer)

@main(walmartCategories, amazonCategories, user) {

<header>
    <hgroup>
        <h1>Dashboard</h1>
        <h2>Most Popular Products</h2>
    </hgroup>
</header>

<article  class="tasks">
    @products.groupBy(_.category).map {
    case (category, products) => {
    <div class="folder" data-folder-id="@category">
        <header>
            <h3>@category</h3>
        </header>
        <ul class="list">
            @products.map { product =>
            @views.html.products.product(product)
            }
        </ul>
    </div>
    }
    }
</article>

}