@(walmartCategories: List[Category],  amazonCategories: List[Category], user: Customer)(body: Html)

<html>
    <head>
        <title>Banana Now</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/dropmenu.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/search.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Banana</span>Now</a>
            <dl id="user">

                @if(user != null){
                    <dt>@user.name <span>(@user.email)</span></dt>
                    <dd>
                        <a href="@routes.Application.logout()">Logout</a>
                    </dd>
                }
                @if(user == null){
                    <dd>
                        <a href="@routes.Application.login()">Login</a>
                    </dd>
                }
                <dd>
                    <a href="@routes.Cart.index()">Cart</a>
                </dd>
            </dl>
            
            <section class="webdesigntuts-workshop">
				@helper.form(routes.Application.search) {		    
					<input type="search" name="search" placeholder="Search...">
					<select name="section" id="section">
  						<option value="all">Entire Site</option>
					</select>		    	
					<button>Search</button>
				}
			</section>
			
        </header>
        
        <nav>
            <h4 class="dashboard"><a href="#/">Walmart</a></h4>
                @walmartCategories.groupBy(_.mainCategory).map {
                    case (group, subcategories) => {
                        @views.html.categories.group(group, subcategories)
                    }
                }
            <h4 class="dashboard"><a href="#/">Amazon Fresh</a></h4>
                @amazonCategories.groupBy(_.mainCategory).map {
                    case (group, subcategories) => {
                        @views.html.categories.group(group, subcategories)
                    }
                }
        </nav>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/dropdown.js")"></script>
        <section id="main">
            @body
        </section>
    </body>
</html>